@using Habit_Buddies.Data.Entities;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<ul class="navbar-nav">
    @{
        var user = await UserManager.GetUserAsync(User);
    }
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item">
            <a class="nav-link" href="#">
                <div class="rounded-pill d-inline-flex align-items-center" style="min-width: 130px; background-color: grey; color: white; height: 35px;">
                    <span class="flex-grow-1 text-center ms-1">@user.Rank</span>
                    <span class="badge bg-warning mx-1 rank">@user.Experience</span>
                </div>
            </a>
        </li>

    <li class="nav-item mt-1">
        <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item mt-1">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn @*btn-link*@">Logout</button>
        </form>
    </li>
}
    
else
{
    <li class="nav-item ">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>

