@model Habit_Buddies.Data.Entities.UserFriendship

@{
    ViewData["Title"] = "Create";
}

<h1>Enter friend's ID</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="UserFriendId" class="control-label"></label>
                <select asp-for="UserFriendId" class ="form-control" asp-items="ViewBag.UserFriendId"></select>
            </div>*@
            <div class="form-floating mb-3">
                <input asp-for="UserFriendId" type="text" class="form-control" id="UserFriendId" placeholder="Enter Id" name="UserFriendId" />
                <label asp-for="UserFriendId" for="UserFriendId" class="control-label"></label>
                <span asp-validation-for="UserFriendId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
