@model Habit_Buddies.Data.Entities.FakeFriend

@{
    ViewData["Title"] = "Delete";
}

<h1 class="delete">Delete</h1>

<h3>Are you sure you want to remove this friend from your Friend List?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FriendName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FriendName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FriendRank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FriendRank)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FakeFriendId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </form>
</div>
