@model Habit_Buddies.Data.Entities.FakeFriend

@{
    ViewData["Title"] = "Edit";
}

<h2 class="edit">Edit Friend</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FakeFriendId" />
            <div class="form-floating mb-2">
                <input asp-for="FriendName" class="form-control" id="FriendName" name="FriendName" placeholder="Edit Friend Name"/>
                <label asp-for="FriendName" class="control-label" for="FriendName"></label>
                <span asp-validation-for="FriendName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="FriendRank" class="form-control" id="FriendRank" name="FriendRank" placeholder="Edit Friend Rank"/>
                <label asp-for="FriendRank" class="control-label" for="FriendRank"></label>
                <span asp-validation-for="FriendRank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" /> |
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
