@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.Name</h1>
</div>

<button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("Create","Habits")'">CREATE</button>
<button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("Create","FakeFriends")'">CREATE FRIEND</button>
